<a href="https://colab.research.google.com/github/sarhansaad2004/SEU_ML_Bootcamp/blob/main/SEU_ML_Bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **(1-a)**

In [ ]:
full_name = "Sarhan"
current_age = 22
cgpa = 3.78
student_status = True

print(type(full_name))
print(type(current_age))
print(type(cgpa))
print(type(student_status))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# **(1-b)**

In [ ]:
string_number = "123"
converted_int = int(string_number)

integer_number = 456
converted_string = str(integer_number)

float_number = 3.64
converted_from_float = int(float_number)

boolean_one = bool(1)
boolean_zero = bool(0)

print(converted_int)
print(converted_string)
print(float_number)
print(converted_from_float)

print(boolean_zero)
print(boolean_one)

123
456
3.64
3
False
True

# **2**

In [ ]:
num1 = 19
num2 = 6

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

print(num1 // num2)
print(num1 % num2)

print(num1 ** num2) #power

print(num1 > num2)
print(num1 == num2)
print(num1 != num2)

25
13
114
3.1666666666666665
3
1
47045881
True
False
True

# **(3-a)**

In [ ]:
text = "python programming"

print(text.upper())
print(text.title())
print(text.replace("programming", "language"))
print(len(text))

PYTHON PROGRAMMING
Python Programming
python language
18

# **(3-b)**

In [ ]:
full_name = "Sarhan Saad"
current_age = 22
current_gpa = 3.66

print(f"My name is {full_name}, I am {current_age} years old, and my GPA is {current_gpa}")

My name is Sarhan Saad, I am 22 years old, and my GPA is 3.66

# **(4-a)**

In [ ]:
age = int(input("Enter your age: "))

if age < 0:
    print("Invalid age")
elif age >= 65:
    print("You are a Senior")
elif 18 <= age <= 64:
    print("You are an adult")
elif 13 <= age <= 17:
    print("You are a teenager")
else:
    print("You are a child")

Enter your age: 23
You are an adult

# **(4-b)**

In [ ]:
number = int(input("Enter a number: "))
result = "Even" if number % 2 == 0 else "Odd"
print(result)

Enter a number: 232
Even

# **(4-c)**

In [ ]:
mark = int(input("Enter your marks between (0-100): "))

if mark < 0 or mark > 100:
    print("Invalid mark")
elif 90 <= mark <= 100:
    print("A+")
elif 80 <= mark <= 89:
    print("A")
elif 70 <= mark <= 79:
    print("B")
elif 60 <= mark <= 69:
    print("C")
elif 50 <= mark <= 59:
    print("D")
else:
 print("Your grade is F (Your are doomed - failur)")

Enter your marks between (0-100): 12
Your grade is F (Your are doomed - failur)

# **(4-b)**

In [ ]:
admin_user = "Sarhan"
admin_pass = "2302"

tries = 3
attempt = 0

while attempt < tries:
    user = input("Enter username: ")
    pwd = input("Enter password: ")

    if user == admin_user and pwd == admin_pass:
        print(f"Login successful! Welcome, {user}.")
        break
    elif user == admin_user:
        print("Incorrect password. Try again.")
    else:
        print("User not found.")

    attempt += 1

if attempt == tries:
    print("Account locked.")

Enter username: Sarhan
Enter password: 2302
Login successful! Welcome, Sarhan.

# **(5-a)**

In [ ]:
pin = "2302"
bal = 100000

user_pin = input("Enter your PIN: ")

if user_pin == pin:
    amount = float(input("Enter withdrawal amount: "))

    if amount > 500 and amount <= bal:
        bal -= amount
        print("Withdrawal successful.")
        print("Remaining balance:", bal)
    elif amount <= 500:
        print("Minimum withdrawal amount is greater than 500.")
    else:
        print("Insufficient balance.")
else:
    print("Wrong PIN.")

# **(5-b)**

In [ ]:
pin = "2302"
bal = 10000
tries = 4

while tries > 0:
    user_pin = input("Enter your PIN: ")

    if user_pin == pin:
        amt = float(input("Enter withdrawal amount: "))

        if amt > 500 and amt <= bal:
            bal -= amt
            print("Withdrawal successful.")
            print("Remaining balance:", bal)
        elif amt <= 500:
            print("Minimum withdrawal amount is greater than 500.")
        else:
            print("Insufficient balance.")
        break
    else:
        tries -= 1
        if tries > 0:
            print(f"Wrong pin. Attempts remaining: {tries}")
        else:
            print("Card blocked!")

# **(5-c)**

In [ ]:
user_name = "Sarhan"
user_pass = "2302"
active = True

if not active:
    print("Account is disabled.")
else:
    u = input("Enter username: ")
    p = input("Enter password: ")

    if u == user_name and p == user_pass:
        print("Login successful.")

        pin = "5202"
        bal = 10000
        tries = 4

        while tries > 0:
            entered = input("Enter your PIN: ")

            if entered == pin:
                amt = float(input("Enter withdrawal amount: "))

                if amt > 500 and amt <= bal:
                    bal -= amt
                    print("Withdrawal successful.")
                    print("Remaining balance:", bal)
                elif amt <= 500:
                    print("Minimum withdrawal amount is greater than 500.")
                else:
                    print("Insufficient balance.")
                break
            else:
                tries -= 1
                if tries > 0:
                    print(f"Wrong pin. Attempts remaining: {tries}")
                else:
                    print("Card blocked!")
    else:
        print("Invalid username or password.")

# **(6-a)**

In [ ]:
# 1 to 20
for num in range(1, 21):
    print(num)

# Multi Table
for n in range(1, 11):
    print(f"7 x {n} = {7*n}")

# Sum
sum_total = 0
for value in range(1, 101):
    sum_total += value
print("Sum from 1 to 100:", sum_total)

# Even numbers
for even in range(2, 51, 2):
    print(even)

# Fruits
fruit_list = ['apple', 'banana', 'cherry', 'mango', 'grape']
for pos, fruit in enumerate(fruit_list, start=1):
    print(pos, fruit)

# **(6-b)**

In [ ]:
# 10 to 1
i = 10
while i >= 1:
    print(i)
    i -= 1

# Sum Pos Nums
total = 0
while True:
    num = int(input("Enter a positive number: "))
    if num <= 0:
        break
    total += num
print("Total sum:", total)

# Count
count = 10
while count >= 0:
    print(count)
    count -= 1
print("Blast off!")
print("Spaceship launched!!!!!!")

# First
multiple = 1
c = 0
while c < 10:
    print(6 * multiple)
    multiple += 1
    c += 1